# Настройки DB
db__USER='имя_пользователя'
db__PASSWORD='ваш_пароль'
db__HOST='localhost'
db__PORT='Порт на котором работает сервер БД'
db__NAME='имя_базы_данных'

# # Переменные для JWT (допишите к вашим настройкам БД)
# jwt__SECRET_KEY=секретный ключ
# jwt__ALGORITHM= алгорим шифрования например:HS256
# jwt__ACCESS_TOKEN_EXPIRE_MINUTES=timedelta 30 (в минутах)

# Настройка пользовательской сессии
session__SESSION_MAX_AGE_DAYS='Время жизни куки с session_id'
session__NAME_COOKIE='Имя куки с session_id'

# Общие настройки
PORT='Порт на котором слушает наш сервер'
LIMIT_ON_PAGE='число записей на странице для пагинации'
DEBUG='В нашей конфигурации(echo=settings.DEBUG внутри create_async_engine)'